body {
	margin: 1em;
	padding: 0;
	background-color: #222;
	color: #ccc;
}

header {
	margin: 0 0 1em 0;
}

#content {
	display: flex;
	flex-direction: row;
}

aside.right {
	order: 2;
}

aside {
	width: 25%;
	min-width: 75px;
}

nav {
	overflow: auto;
	position: fixed;
	bottom: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

nav li {
	margin: 0;
	list-style: none;
	padding: 1em;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	background-color: #444;
}

nav li:hover, nav li:active {
	background-color: #666;
}

nav li#current {
	background-color: #888;
}

#swapNavBtn {
	position: fixed;
	top: 1em;
	padding: 1em;
	background-color: #00f;
	text-align: center;
	cursor: pointer;
}

aside.right #swapNavBtn {
	right: 1em;
}

#content {
	flex-direction: row;
}

#mvContent {
	width: 75%;
	margin: 0 0 0 1em;
	word-break: break-word;
}

#mvContent.left {
	order: 1;
	margin: 0 1em 0 0;
}

main :first-child, main :last-child, main :nth-child(2) {
	margin: 0;
}

main :first-child {
	margin-bottom: revert;
}

main :last-child {
	margin-top: revert;
}

footer {
	margin: 1em 0 0 0;
}

@media (min-width: 600px) {
	header {
		margin: 1em 0;
	}

	#content {
		flex-direction: column;
	}

	#mvContent.left, aside.right {
		order: revert;
	}

	aside {
		width: 100%;
	}

	#swapNavBtn {
		display: none;
	}

	nav {
		position: unset;
		overflow: unset;
		height: unset !important;
		width: 100% !important;
	}

	nav ul {
		flex-direction: row;
		display: inline;
	}

	nav ul li {
		float: left;
	}

	#mvContent {
		max-width: unset;
		width: 100%;
		margin: 0 0 1em 0;
	}

	main {
		margin: 1em 0 0 0;
	}

	footer {
		margin: 0;
	}
}