.comment {
	color: lightgreen;
}

.symbol {
	color: lightblue;
}

.error {
	color: darkred;
}

/* most langs */

.string {
	color: #ccc;
}

.keyword {
	color: blue;
}

.number {
	color: orange;
}

.special {
	color: green;
}

/* xml like */

.xmlTagName {
	color: chocolate;
}

.xmlAttribName {
	color: orangered;
}

.xmlAttribVal {
	color: #A020F0;/* veronica */
}