.comment {
	color: lightgreen;
}

.string {
	color: #ccc;
}

.keyword {
	color: blue;
}

.number {
	color: orange;
}

.symbol {
	color: lightblue;
}

.special {
	color: green;
}

.error {
	color: red;
}